export const url = 'mongodb://{{ author }}:password@mongo:27017/{{ appName }}';
//export const url = 'mongodb://{{ author }}:password@localhost:27017/{{ appName }}';
export const port = 3000;
export const secret = 'secret';